.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.webview.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
